body{
  width: 800px;
  margin: 0 auto;
  padding:0;
  text-align:left;
  font-size: 32px;

}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.title_box{
    background: url(../img/header_tanabe.png);
    background-size: cover;
    background-position: center;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size:larger;
    color: red;
}

.fieldset p{
    height:50%;
}

.legend{
    display: flex;
}

.legend p{
    height:50%;
}

.legend_box_legend{
    font-size: 20px;
}

.your_name{
    font-size: 12px;
    font-weight: bold;
}
.your_text{
     font-size: 12px;
     font-weight: bold;
     margin-top: 5px;
}

.button_box{
     height: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 15px;
}

p{
    margin-top: 40px;

}
main{
    border-bottom:1px solid #ccc;
}
footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}

.form_box{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fieldset{
    width: 160%;
    height: 60%;
}




.fieldset p{
    
    font-size: 10px;
    height: 50%;
}



p{
    font-size:20px;
    text-align: center;
    border-bottom:1px solid #fff;
    width: 81%;
    height:30px;
    margin: 20px;
}
ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:60%;
    font-size: 15px;
}
li{
    text-align: center;
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:flex;  /* 定義 */
    cursor: pointer;
}
li:hover{
    background: #0066CC;
    color:#fff;
}

.answer_box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.answer p{
    font-size: 20px;
}